<div class="container">
  <h1>Welcome to Unicorn Race!</h1>
  <p>Enter your names to play this magical game!</p>
  <form action="/create_new_game" method="POST" id="player1_name">
    <label for="player_1_name">player 1: <input type="text" id="player_1_name" name="player1[:name}"></label>
  </form>
  <form action="/create_new_game" method="POST" id="player1_name">
    <label for="player_2_name">player 2: <input type="text" id="player_2_name" name="player2[:name]"></label>
    <input type="submit">
  </form>
  
</div>
