<table class="racer_table">
  <tr id="player1" data-player-id="<%= @player1.id %>">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>

    
  </tr>
  <tr id="player2" data-player-id="<%= @player2.id %>">
    <td class="active"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td ></td>
    <td></td>

  </tr>
</table>
